html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

#app {
  height: 100%;
  width: 100%;
}
